<nav class="row">
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="#/home"><span itemprop="name">Home</span></a>
            <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <span class="category-name" itemprop="name">{{posts.result.0.category}}</span>
            <meta itemprop="position" content="2" />
        </li>
    </ol>
</nav>

<div class="row category-container">
    <div class="col-ts-12 col-sm-6 col-md-8 col-lg-9 category-posts-container">
        <div id="compact-posts-container" class="row eq-height">
            {{#if posts.result}}
                {{#each posts.result}}
                    <article class="col-xs-12 col-md-6 col-lg-3 eq-height">
                        <div class="compact-post-container">
                            <div class="compact-post-content">
                                <a href="#/posts/{{id}}">
                                    <figure class="compact-post-image-containter">
                                        <img class="compact-post-image" src="{{imageUrl}}" alt="post image"/>
                                        <div class="compact-post-inset-shadow"></div>
                                        <figcaption>
                                            <div class="compact-post-category">{{category}}</div>
                                            <time class="compact-post-date">
                                                <span>{{publishMonth}}</span>
                                                <span>{{publishDate}}</span>
                                            </time>
                                        </figcaption>
                                    </figure>
                                </a>
                                <section>
                                    <a href="#/posts/{{id}}">
                                        <h2 class="compact-post-title" title="{{title}}">{{substr '16' title}}</h2>
                                    </a>
                                    <div class="compact-post-author">
                                        Posted by {{author}}
                                    </div>
                                    <div class="compact-post-content-divider"></div>
                                    <div class="compact-post-text">
                                        {{substr '90' content}}
                                    </div>
                                </section>
                            </div>
                            <div class="border-bottom"></div>
                        </div>
                    </article>
                {{/each}}
            {{/if}}
        </div>
    </div>
    <aside class="col-ts-12 col-sm-6 col-md-4 col-lg-3 sidebar-widgets-container">
        <section class="sidebar-widget-container">
            <div class="recent-comments-container">
                <h3>Recent comments</h3>
                <div class="sidebar-widget-content-divider"></div>
                <div class="sidebar-widget-links-container">
                    {{#each recentComments.result}}
                        <a href="#/posts/{{this.postId}}">{{substr '30' this.text}}</a><br />
                    {{/each}}
                </div>
                <div class="border-bottom"></div>
            </div>
        </section>
        <section class="sidebar-widget-container">
            <div class="recent-posts-container">
                <h3>Recent posts</h3>
                <div class="sidebar-widget-content-divider"></div>
                <div class="sidebar-widget-links-container">
                    {{#each recentPosts.result}}
                        <a href="#/posts/{{this.id}}">{{substr '30' this.title}}</a><br />
                    {{/each}}
                </div>
                <div class="border-bottom"></div>
            </div>
        </section>
    </aside>
</div>

<div id="pagination">
</div>