<div id="compact-posts-container" class="row eq-height">
    {{#each result}}
        <article class="col-ts-12 col-sm-6 col-md-3 col-lg-2 eq-height">
            <div class="compact-post-container">
                <div class="compact-post-content">
                    <a href="#/posts/{{id}}">
                        <figure class="compact-post-image-containter">
                            <img class="compact-post-image" src="{{imageUrl}}" alt="post image"/>
                            <div class="compact-post-inset-shadow"></div>
                            <figcaption>
                                <div class="compact-post-category">{{category}}</div>
                                <time class="compact-post-date">
                                    <span>{{publishMonth}}</span>
                                    <span>{{publishDate}}</span>
                                </time>
                            </figcaption>
                        </figure>
                    </a>
                    <section>
                        <a href="#/posts/{{id}}">
                            <h2 class="compact-post-title" title="{{title}}">{{substr '16' title}}</h2>
                        </a>
                        <div class="compact-post-author">
                            Posted by {{author}}
                        </div>
                        <div class="compact-post-content-divider"></div>
                        <div class="compact-post-text">
                            {{substr '90' content}}
                        </div>
                    </section>
                </div>
                <div class="border-bottom"></div>
            </div>
            
        </article>
    {{/each}}
</div>

<div id="pagination">
</div>